body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
nav a:hover {
    color: #ffd700;
}
section {
    padding: 50px 20px;
    text-align: center;
}
h2 {
    color: #444;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
.cta {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.cta:hover {
    background-color: #cc3700;
}
footer {
    background-color: #FF3233;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.banner {
    background-image: url("./images/ferarri.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
